<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="FontFamily" value="MS Gothic" />
      <add key="FontSize" value="28" />
      <add key="FontStyle" value="0" />
      <add key="FontColor" value="#FFFFFF" />
      <add key="FontOutlineColor" value="#ed6486" />
      <add key="FontOutlineWidth" value="4.0" />
      <add key="DisplayIndex" value="0" />
      <add key="DisplayPositionX" value="0.5" />
      <add key="DisplayPositionY" value="0.918" />
    </appSettings>
</configuration>